@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed");

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  flex-direction: column;
}

.cardTestimonial {
  border-radius: 5px;
}

img {
  border-radius: 50%;
  border: 3px solid;
  width: 50px;
}

.cardPurple {
  background-image: url("/assets/imgs/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 80% 0px;
  background-color: hsl(263, 55%, 52%);
  color: white;
  border-radius: 10px;
}
.cardPurple img {
  border-color: hsl(217, 19%, 35%);
}

.cardGray {
  background-color: hsl(217, 19%, 35%);
  color: white;
  border-radius: 10px;
}
.cardGray img {
  border-color: hsl(0, 0%, 81%);
}

.cardDark {
  background-color: hsl(219, 29%, 14%);
  color: white;
  border-radius: 10px;
}
.cardDark img {
  border-color: hsl(263, 55%, 52%);
}

.cardWhite {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
.cardWhite img {
  border-color: hsl(0, 0%, 100%);
}

.textPrincipal {
  font-weight: 600;
}

.textBody {
  font-weight: 500;
  font-size: 13px;
  color: hsl(0, 0%, 81%);
}

.attribution {
  font-size: 11px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 10px;
}
.attribution a {
  color: hsl(263, 55%, 52%);
  text-decoration: none;
}
